<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/admin.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo:700|Catamaran:700|Josefin+Sans:600|Merriweather:900|Montserrat:500|Open+Sans:800|PT+Sans:700|Raleway:500|Roboto+Slab:700|Ubuntu:500" rel="stylesheet">


    <title>Admin</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">STEVESTON</a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button>Log out</button>
        </li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container pt-4">
      <div class="row">
        <div class="col-8 border border-secondary">
          <table class="table ">
            <thead>
              <tr>
                <th scope="col" class="p-2">Item</th>
                <th scope="col" class="p-2">Quantity</th>
                <th scope="col" class="p-2">Price</th>
                <th scope="col" class="p-2">Sub Total</th>
              </tr>
            </thead>
            <% console.log(orders) %>
          <% orders.forEach((orderItem) => { %>
              <tbody>
                <tr>
                  <th scope="row" class="p-2"><%= orderItem.name%></th>
                  <td class="p-2"><%= orderItem.quantity %></td>
                  <td class="p-2">$ <%= orderItem.price %></td>
                  <td class="p-2">$ <%= (Number(orderItem.price) * Number(orderItem.quantity)).toFixed(2)%></td>
                </tr>
          <% }) %>

                <tr>
                  <td colspan="3">Total:</td>
                  <td class="p-2"> <% let beforeTax = orders.reduce((acc, cur) => acc + (cur.price * cur.quantity), 0).toFixed(2) %>
                     $<%= beforeTax %></td>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="col-4 border border-secondary">
          <table class="table">
            <thead >
              <p class="text-center mt-2 mb-2">#<%= orders[0].ordersid%></p>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="p-2">Name: </th>
                <td class="p-2">Jacob Smith</td>
              </tr>
              <tr>
                <th scope="row" class="p-2">Phone: </th>
                <td class="p-2">604-254-1055</td>
              </tr>
              <tr>
                <th scope="row" class="p-2">Email: </th>
                <td class="p-2">jacobsmith@gmail.com</td>
              </tr>
            </tbody>
          </table>



          <form class="text-center">
            <div>
              <label>Enter ETA: </label>
              <input type="text" name="ETA">
            </div>
            <button>accept</button>
            <button>decline</button>
          </form>
        </div>

      </div>
    </div>
  </main>


</body>

</html>