<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/menu.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/home.css">

    <title>Menu</title>
  </head>

<body>
  <% include partials/_header %>
  <main role="main">
    <!-- FOOD CATEGORY -->
    <br>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row mb-3">
        <div class="col-4 themed-grid-col text-center"></div>
        <div class="col-4 themed-grid-col text-center">
          <div id='order' data-orderid="<%= order.id %>"><h4>Order # <%= order.id %></h4></div>
          <div>Placed: <%= order.created.toDateString() %></div>
          <div id='status' data-orderstatus="<%= order.status %>">Status: <%= order.status %><span id="dots" style="position:absolute;"></span></div>
          <div id='animation'><img src="/images/animation/crab1.png" style="height:80px;"></div>
        </div>
        <div class="col-4 themed-grid-col text-center"></div>
      </div>

      <div class="row border-top border-left border-right border-secondary ">
        <div class="col-6 border border-secondary"><h5 class="mb-0">item</h5></div>
        <div class="col-2 border border-secondary text-center"><h5 class="mb-0">quantity</h5></div>
        <div class="col-2 border border-secondary text-center"><h5 class="mb-0">price</h5></div>
        <div class="col-2 border border-secondary text-center"><h5 class="mb-0">total</h5></div>
      </div>

      <div class="row border-left border-right border-secondary ">
        <div class="col-6 border border-secondary ">crab</div>
        <div class="col-2 border border-secondary text-center">4</div>
        <div class="col-2 border border-secondary text-center">$15/kg</div>
        <div class="col-2 border border-secondary text-center">$400</div>
      </div>

      <div class="row border-left border-right border-secondary ">
        <div class="col-6 border border-secondary ">crab</div>
        <div class="col-2 border border-secondary text-center">4</div>
        <div class="col-2 border border-secondary text-center">$15/kg</div>
        <div class="col-2 border border-secondary text-center">$400</div>
      </div>

      <div class="row border-left border-right border-secondary ">
        <div class="col-6 border border-secondary ">crab</div>
        <div class="col-2 border border-secondary text-center">4</div>
        <div class="col-2 border border-secondary text-center">$15/kg</div>
        <div class="col-2 border border-secondary text-center">$400</div>
      </div>

      <div class="row border-left border-right border-bottom border-secondary ">
        <div class="col-6 border border-secondary ">crab</div>
        <div class="col-2 border border-secondary text-center">4</div>
        <div class="col-2 border border-secondary text-center">$15/kg</div>
        <div class="col-2 border border-secondary text-center">$400</div>
      </div>


      <hr>

    </div><!-- /container -->
  </main>
  <% include partials/_footer %>

  <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/menu.js"></script>
  <script type="text/javascript" src="/scripts/pending.js"></script>
</body>
</html>