<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/menu.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/checkout.css">
    <title>Menu</title>
  </head>

<body>
  <% include partials/_header %>
  <main role="main">
    <br>
    <div class="container">
      <!-- order info -->
      <div class="row mb-3">
        <div class="col-4 themed-grid-col text-center"></div>
        <div class="col-4 themed-grid-col text-center">
          <div id='order' data-orderid="<%= order.id %>"><h4>Order # <%= order.id %></h4></div>
          <div>Placed: <%= order.created.toDateString() %></div>
          <div id='status' data-orderstatus="<%= order.status %>">Status: <%= order.status %><span id="dots" style="position:absolute;"></span></div>
          <div id='animation'><img src="/images/animation/crab1.png" style="height:120px;"></div>
        </div>
        <div class="col-4 themed-grid-col text-center"></div>
      </div>

      <!-- list of items -->






<div class="container mt-4" id="container">
  <div class="col-md-12 order-md-2 mb-4">
    <ul class="list-group mb-3">
      <!-- ITEM LOOP -->
      <% cart.forEach(item => { console.log(item);%>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <div>
              <h5 class="my-0"><%= item.name %></h5>
              <small class="text-muted"><%= item.description %></small>
            </div>
          </div>
          <div class="counterprice">
            <div class="wrapper text-center">

            </div>
            <span class="text-muted"><%= item.quantity %>  X  $<%= item.price + item.unitprice%></span>
            <span class="text-muted text-right"><%= '$' + (Number(item.quantity) * parseInt(item.price)).toFixed(2) %></span>
          </div>
        </li>
      <% }) %>

    </ul>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between">
        <span>Subtotal</span>
        <span class="text-muted">
          <% let beforeTax = cart.reduce((acc, cur) => acc + (cur.price * cur.quantity), 0).toFixed(2) %>
          $<%= beforeTax %>
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Tax (5%)</span>
        <% let tax =  (beforeTax * 0.05).toFixed(2) %>
        <span class="text-muted">$ <%= tax %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Total CAD</span>
        <strong>$ <%= (Number(tax) + Number(beforeTax)).toFixed(2) %></strong>
      </li>
    </ul>
  </div>
  <hr class="mb-4">
</div>


    </div><!-- /container -->
  </main>
  <% include partials/_footer %>

  <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/menu.js"></script>
  <script type="text/javascript" src="/scripts/pending.js"></script>
</body>
</html>